[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
scikit-learn = "*"
numpy = "*"
tweepy = "*"
requests = "*"
basilica = "*"
python-dotenv = "*"
python-decouple = "*"
pylint = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
